.header{
    width: 100%;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    min-height: 92px;
    z-index: 10;
    .title{
        ul{
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--black-4);
            svg{
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        h6{
            font-size: 16px;
            color: var(--blue-1);
        }
    }
    .content{
        padding: 0px 35px;
        display: flex;
        align-items: center;
        gap: 140px;
        
        .filters{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 58px;
            button{
                display: flex;
                align-items: center;
                .icon {
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
        }
        .about{
            button{
                border: none;
                background-color: transparent;
                padding: 5px 6px;
                color: var(--black-4);
                cursor: pointer;
                &:hover{
                    color: var(--blue-1);
                }
                svg{
                    width: 22px;
                    height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}